[submodule "modules/juce"]
	path = modules/juce
	url = git@github.com:juce-framework/JUCE.git
	branch = develop
[submodule "modules/gin"]
	path = modules/gin
	url = https://github.com/gabrielsoule/Gin.git
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = git@github.com:gabrielsoule/chowdsp_utils.git
	branch = main
[submodule "modules/melatonin_perfetto"]
	path = modules/melatonin_perfetto
	url = https://github.com/sudara/melatonin_perfetto.git
	branch = main
